nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    background-color:rgb(66, 63, 63);
}
.links>ul{
    display: flex;
    gap: 20px;
}
.links ul li{
    list-style: none;
    font-style: italic;
}
.links ul li a{
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 30px;

}
.head-container{
    background-image: url("./asset/image/background.jpg"),linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4));
    background-size: cover;
    background-blend-mode: overlay;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.head-content{
    width: 800px;
}
.head1{
    text-transform: capitalize;
    color: white;
    font-size: 70px;
}
.spam{
    color: red;
}
.pera1{
    font-size: 22px;
    color: white;
}
.btn{
    padding: 20px;
    border: 1px solid white;
    border-radius: 5px;
    gap: 10px;
}
.btm{
    background-color: red;
}
.service{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url("asset/image/footer-bg.png"),linear-gradient(rgba(0,0,0.2),rgba(0,0,0,0.9));
    background-blend-mode: overlay;
    background-position:center;

}
.icon{

    width: 70px;
    
}
.service-icon{
    padding: 50px;
    border: 1px solid beige;
    border-radius: 5px;
    background-color:white;
    width:150px;
    height: 150px;
    text-align: center;
    border-radius: 16px;
    
    
}
.all-service1{
    display: flex;
    gap: 10px;
    /* background-color: black; */
    color: black;
    margin-top: 10px;
    
    
}
.all-service2{
    display: flex;
    gap: 10px;  
    color: black;
    background-color:black;
    margin-top: 10px;



}
.service-text{
    width: 700px;
}
.service-head{
    font-size: 55px;
    color: white;
    text-transform: capitalize;
}
.service-sp{
    color: red;
}
.ol{
    color: white;
    font-size: 25px;
}
.service-btn{
    width: 200px;
    border-radius: 40px;
    font-size: 20px;
}
.second-img{
    border: 1px solid black;
    height: 100px;
    width: 100px;
    border-radius:50px;
}
.second-container{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.sec-h{
    display: flex;
}
.second4{

    margin-bottom: 50px;
    
}
.btn4{
    width: 200px;
    height: 60px;
    border-radius: 30px;
}
.bt{
    border-left: 1px solid red;

}
hr{
    height: 20px ;
}

.appoinment{
    margin: auto;
    font-size: 24px;
    color: white;
width: 80%;
display: flex;
align-items: center;
justify-content: center;
background-size:cover;
background-repeat: no-repeat;
background-color: rgb(85, 115, 105);
margin-top: -20px;
border-radius: 10px;
padding: 20px;
} 
.appoin-m{
    display: flex;
}
.blog-menu{
    width: 420px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
     box-shadow: 0px 6px 50px 0px rgba(50, 47, 47, 0.5);


}

.blog-h{
    font-size: 50px;
    text-transform: capitalize;
    text-align: center;
}
.blog-p{
    font-size: 25px;
    margin: auto;
    width: 850px;
    margin-bottom: 30px;
}
.blog-img{
    width: 415px;
    border-radius: 10px;
    text-align: center;
    

}
.blog-main-h{
    font-size: 30px;
}
.blog-main-p{
    font-size: 20px;
}
.blog-main{
    display: flex;
    align-items: center;
    justify-content:space-around;
    padding: 30px;
}